.erlang.mk/
*.d
ebin/
*.plt
deps/
*.beam
erl_crash.dump
elvis
recompile.log
makefile.bak
.DS_Store
cover/
*.cover.spec
tmp/
test-reports/
_build/
.vscode/
*.crashdump
*.bak
doc/
*.coverdata
_checkouts/
