{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, vsn_transform}
]}.

{shell, [
    {config, "config/shell.config"},
    % {script_file, "shell/startup.escript"},
    {apps, [kafine]}
]}.

{deps, [
    % kafka codecs
    {kafcod, {git, "https://github.com/happening-oss/kafcod", {tag, "0.12.0"}}},

    % process registry, for finding consumers/groups later. hex.pm says there's a 1.0.0 release, but github only goes up
    % to 0.9.1, so we'll use that.
    {gproc, "0.9.1"},

    % kafine emits telemetry events
    {telemetry, "1.3.0"},

    % build dependency
    {vsn_transform, "1.0.2"},

    % eqwalizer_support teaches eqwalizer the *correct* specs for things like lists:foldl/3.
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}}
]}.

{profiles, [
    {test, [
        {deps, [
            % We use 'meck' in our tests, but we need a fork (for the wait_for functionality).
            {meck, {git, "https://github.com/rlipscombe/meck.git", {branch, "wait-for"}}},

            % The mock broker.
            {kamock, {git, "https://github.com/happening-oss/kamock", {branch, "main"}}},

            % We need certificates for the TLS tests.
            {erl509, {git, "https://github.com/rlipscombe/erl509.git", {branch, "main"}}},

            % It's nice to have some colour in our eunit logs (when they're enabled).
            {logger_color_formatter,
                {git, "https://github.com/rlipscombe/logger_color_formatter.git", {branch, "main"}}}
        ]}
    ]},

    {integration, [
        {deps, [
            base64url,

            {eventually, {git, "https://github.com/rlipscombe/eventually", {branch, "main"}}},
            {ct_ext, {git, "https://github.com/rlipscombe/ct_ext", {branch, "main"}}}
        ]},

        {src_dirs, ["src", "integration/src"]},

        {ct_opts, [
            {sys_config, ["integration/config/sys.config"]},
            {config, "integration/config/local.config"},
            {dir, "integration/test"},

            {ct_hooks, [
                {ct_ext_ensure_started, [kafine]},
                ct_ext_summary
            ]}
        ]},

        {ct_readable, false}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"./docs/telemetry.md", #{title => "Telemetry and Metrics"}}
    ]},
    {main, "README.md"}
]}.

{project_plugins, [
    rebar3_lint,

    rebar3_ex_doc,

    covertool,

    {rebar3_eunit_start,
        {git, "https://github.com/rlipscombe/rebar3_eunit_start.git", {tag, "0.1.0"}}}
]}.
{provider_hooks, [{pre, [{eunit, {default, rebar3_eunit_start}}]}]}.

{eunit_opts, [
    {start_modules, [test_helper]},
    % Note that 'sys_config' silently skips files that don't exist.
    {sys_config, ["config/eunit.config"]}
]}.

{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata", "eunit.coverdata"]}]}.
