[
    {kafine, [
        {enable_trace, false}
    ]},

    {kernel, [
        {logger_level, none},

        {logger, [
            % rebar3 eunit/auto appears to ignore module_level.
            {module_level, none, [application_controller, supervisor_bridge, supervisor]},
            {module_level, none, [kafine_connection]},

            % so we have to do it this way instead
            {filters, log, [
                {stop_progress, {fun logger_filters:progress/2, stop}},
                {stop_module, {
                    fun kafine_logger_filters:module_level/2, {none, [kafine_connection]}
                }}
            ]},

            {handler, default, logger_std_h, #{
                formatter =>
                    {logger_color_formatter, #{
                        template => [
                            color, time, " ",
                            "[", level, "]",
                            {pid, [" ", pid, ""], ""},
                            {ref, [" ref=", ref], ""},
                            {group_id, [" group_id=", group_id], ""},
                            {member_id, [" member_id=", member_id], ""},
                            {node_id, [" node_id=", node_id], ""},
                            {topic, [" topic=", topic], ""},
                            {partition, [" partition=", partition], ""},
                            {mfa, [" ", mfa, ":", line], ""},
                            ": ",
                            msg, reset, "\n"
                        ],
                        chars_limit => 2000,
                        depth => 20,
                        single_line => false
                    }}
            }}
        ]}
    ]}
].
