[
    {kernel, [
        {logger_level, notice},

        {logger, [
            {module_level, none, [application_controller, supervisor_bridge, supervisor]},
            % {module_level, info, [kafine_connection]},
            % {module_level, debug, [kafine_consumer, kafine_node_consumer]},

            % {handler, default, logger_std_h, #{formatter => {logger_formatter, #{}}}}
            {handler, default, logger_std_h, #{
                formatter =>
                    {logger_formatter, #{
                        template => [
                            time,
                            " ",
                            "[",
                            level,
                            "]",
                            {pid, [" ", pid, ""], ""},
                            {node_id, [" (node ", node_id, ")"], ""},
                            {ref, [" (ref ", ref, ")"], ""},
                            {mfa, [" ", mfa, ":", line], ""},
                            ": ",
                            msg,
                            "\n"
                        ],
                        chars_limit => 2000,
                        depth => 99
                    }}
            }}
        ]}
    ]},

    {ct_ext, [
        {elapsed_thresholds, [
            {10_000, "\e[0;31m"},
            {5_000, "\e[0;33m"},
            {0, "\e[0;90m"}
        ]}
    ]}
].
